:root {
  --dark: #2f4858;
  --medium: #e4eaee;
  --light: whitesmoke;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #0e161b;
  font: 1.1em sans-serif;
 line-height: 1.5em;
}
.blue {
  --dark: #2f4858;
  --medium: #e4eaee;
  --light: whitesmoke;
}
.purple {
  --dark: #484462;
  --medium: #dfdee4;
  --light: #fff0f0;
}
button {
  margin-top: .625em; /* 10px */
  padding: .625em 1.25em; /* 10px 20px */
  background-color: var(--dark);
  color: var(--light);
  border-color: var(--dark);
  border-radius: 3px;
}
input,
select,
textarea {
  padding: .5em .625em;
}

fieldset {
  margin: 1.25em auto;
  display: flex;
  flex-direction: column;
  background-color: var(--medium);
  border: 5px solid var(--dark);
  border-left: none;
  border-right: none;
  border-bottom: none;
}
legend {
  color: var(--light);
  background-color: var(--dark);
  padding: 0em 1.56em;
  border-radius: 3px;
}

.cover-header-el{
  text-align: center;
}
.cover-container{
  margin: 0 auto;
  padding: .5em;
}