:root {
  --darker: #0e161b;
  --dark: #3a459a;
  --accent: #3a9a8f;
  --medium: #3a759a;
  --light: whitesmoke;
  --gradient-tones: to bottom right, #3a759a, #005287;
  --gradient-tones-accent: to bottom right, #3a9a8f, #005287;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--darker);
  font: 1em sans-serif;
  line-height: 1.5em;
  width: 500px;
  padding: 1.1em;
}
button {
  width: 100%;
  margin-top: 0.625em; /* 10px */
  padding: 0.625em 1.25em; /* 10px 20px */
  background-image: linear-gradient(var(--gradient-tones));
  color: var(--light);
  border: none;
  border-radius: 3px;
  font: 1rem sans-serif;
  cursor: pointer;
}
button:active {
  background-image: linear-gradient(var(--gradient-tones-accent));
}
#cover-header {
  text-align: center;
  padding-bottom: 0.5em;
}
.popup-btn-container {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}
/* css for modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  z-index: 10000;
}

